.main{
    width: 90%;
   padding: 2%;
    margin: auto;
}
.backBtn{
    float: left;
    border-radius: 15px;
    background-color: rgb(1, 1, 1);
    color: white;
    margin-bottom: 10px;

}
.search{
    float: right;
    padding: 8px;
    margin-bottom: 10px;
    width: 60%;
    border-radius: 20px;
}