<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

 <div class="main">
  <button  class="backBtn" routerLink="/">Back</button>
  <input type="search" class="search" placeholder="Search ..." [(ngModel)]="searchValue">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col"> Name</th>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of userListData |search:searchValue" >
        <th scope="row">{{data.id}}</th>
        <td>{{data.name}}</td>
        <td>{{data.username}}</td>
        <td>{{data.email}}</td>
        <td>{{data.address.street }},{{data.address.suite}},{{data.address.city}},{{data.address.zipcode}}</td>
      
         
          <td><i class="fa fa-edit" (click)="edit(data.id)" style="font-size:24px;color:rgb(243, 220, 18)"></i>
             
            <mat-icon style="font-size:24px;color:rgb(216, 20, 20)" (click)="delete(data.id)" >delete</mat-icon></td>
       
      </tr>
     
     
    </tbody>
  </table>
</div>
