<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container">
    <button  class="backBtn" routerLink="/">Back</button>
    <div class="main">
        <form [formGroup]="userFormData">
        <h2>User Form</h2>
       <label>First Name</label>
       <input type="text" formControlName="firstName" placeholder="Enter First Name">
       <br>
       <span class="err" *ngIf="this.userFormData.get('firstName')?.errors?.['required'] && this.userFormData.get('firstName')?.touched">Required First Name</span>
       <br>
       <label>Last Name</label>
       <input type="text" formControlName="lastName" placeholder="Enter Last Name">
       <br>
       <span class="err" *ngIf="this.userFormData.get('lastName')?.errors?.['required'] && this.userFormData.get('lastName')?.touched">Required Last Name</span>
       <br>
       <label>Email</label>
       <input type="text" formControlName="email" placeholder="Enter Email">
       <br>
       <span class="err" *ngIf="this.userFormData.get('email')?.errors?.['required'] && this.userFormData.get('email')?.touched">Required Email</span>
       <br>
       <label>Address</label>
       <input type="text" formControlName="address" placeholder="Enter Address">
      <br>
      <span class="err" *ngIf="this.userFormData.get('address')?.errors?.['required'] && this.userFormData.get('address')?.touched">Required Address</span>
      <br>
      
      <button class="btn" *ngIf="!updateBtn" (click)="submit()">SUBMIT</button>
      <button class="btn" *ngIf="updateBtn" (click)="update()">UPDATE</button>
    </form>
    </div>
</div>


