<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container">
    <button  class="backBtn" routerLink="/">Back</button>
    <div class="main">
        <form [formGroup]="userFormData">
        <h2>User Form</h2>
       <label>User Name</label>
       <input type="text" formControlName="name" placeholder="Enter  Name">
       <br>
       <span class="err" *ngIf="this.userFormData.get('name')?.errors?.['required'] && this.userFormData.get('name')?.touched">Required First Name</span>
       <br>
       <label>Last Name</label>
       <input type="text" formControlName="username" placeholder="Enter User Name Name">
       <br>
       <span class="err" *ngIf="this.userFormData.get('username')?.errors?.['required'] && this.userFormData.get('username')?.touched">Required Last Name</span>
       <br>
       <label>Email</label>
       <input type="text" formControlName="email" placeholder="Enter Email">
       <br>
       <span class="err" *ngIf="this.userFormData.get('email')?.errors?.['required'] && this.userFormData.get('email')?.touched">Required Email</span>
       <br>
       <div formGroupName="address">
       <label>Address</label>
       <br>
      
      <br>
      <input  class="add" type="text" formControlName="street" placeholder="Enter Street">
    
      <input  class="add" type="text" formControlName="suite" placeholder="Enter Suite">
      <br>
      <br>
      <input  class="add" type="text" formControlName="city" placeholder="Enter City">
    
      <input  class="add" type="text" formControlName="zipcode" placeholder="Enter zipcode">
      <br>
      <!-- <span class="err" *ngIf="this.userFormData.get('address')?.errors?.['required'] && this.userFormData.get('address')?.touched">Required Address</span> -->
      <br>
      
      <button class="btn" *ngIf="submitBtn" (click)="submit()">SUBMIT</button>
      <button class="btn" *ngIf="!submitBtn" (click)="update()">UPDATE</button>
       </div>
    </form>
    </div>
</div>


