.example-full-width{
    float: right;
    width: 500px;
    margin-right: 20px;
}

.searchInput{
    width: 200px;
}
.btn-addemp{
    margin: 13px;
    margin-left: 30px;
    transition: 2s ease;
}
// .top-nav{
//     position: fixed;
// }