.main{
   
    margin: auto;
    text-align: center;
    width: 40%;
    height: 100%;
    background-color: rgb(183, 199, 247);
    padding: 30px;
    border-radius: 15px;
}

label{
    font-size: 18px;
    float: left;
    margin-left: 7%;
}
.btn{
    padding: 5px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(31, 164, 31);
    border: 2px solid;
    
}
.btn-reset{
    padding: 5px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    border: 2px solid;
}
h2{
    margin: auto;
    text-align: center;
}
.container{
  padding-top: 2%; 
  margin: auto; 
  text-align: center;
  transition: 2s ease;
}
.err{
    color: red;
}

.add{

    width: 35%;
    // float: left;
}
.mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 40%;
  }
//   .btn{
//     text-align: center;
//     margin: auto;
//   }