.exploreBtn{
  margin: auto;
  text-align: center;
  margin-left: 46%;
}
.pb-video-container {
  padding-top: 20px;
  background: #bdc3c7;
  font-family: Lato;
}

.pb-video {
  border: 1px solid #e6e6e6;
  padding: 5px;
  border-radius: 10px;
}

  .pb-video:hover {
      background: #3c4955;
  }

iframe {
  transition: width 2s, height 2s;
  border-radius: 20px;
 

}

 

.pb-row {
  margin-bottom: 10px;
}
.weddingBackground{
 
  background-image: linear-gradient(rgb(217, 247, 108),rgb(244, 189, 86));
}